/*Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400..900&display=swap");
* {
  /*font-family: "Big Shoulders Text", sans-serif;*/
  font-family: "Big Shoulders Text", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
}
/*Some Variable */
:root {
  --main-color: #273fa1;
  --text-color: #000;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}

.shopTitle {
  /*margin-top: 100px;
  text-align: center;
  font-size: 40px;*/
  font-size: 1.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  /*background-color: rgb(19, 19, 19);*/
  color: white;
  cursor: pointer;
}

.shop {
  color: var(--text-color);
  background: var(--bg-color);
}
img {
  width: 100%;
}
.home {
  position: relative;
  background: #f2f0f1;
  min-height: 700px;
}
.home-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
.home-img img {
  max-width: 600px;
  width: 100%;
}
.home-img::before {
  content: "Coloring Style";
  font-size: 9rem;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: -28px;
  color: var(--main-color);
  z-index: -1;
}
